<div class="team-title">
  {{team.name}} team:
  <button mat-mini-fab class="add-to-team-button" (click)="openAddDialog()">
    <mat-icon aria-label="Add teammates" *ngIf="user.is_lead">add</mat-icon>
  </button>
</div>
<mat-form-field class="filter-field">
  <input matInput type="text" placeholder="Filter" [formControl]="filterFormControl">
  <button mat-button *ngIf="filterFormControl.value" matSuffix mat-icon-button aria-label="Clear" (click)="clearFilter()">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>
<mat-list role="list" class="team-list">
  <div *ngFor="let teamMember of teamMates">
    <mat-list-item role="listitem">
      {{teamMember.displayName}}
      <span class="spacer"></span>
      <mat-icon *ngIf="user.is_lead" class="example-icon" (click)="removeTeamMate(teamMember.id)">delete</mat-icon>
    </mat-list-item>
    <mat-divider></mat-divider>
  </div>
</mat-list>