<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="over" position="end" [(opened)]="showNotifications">
    <mat-toolbar color="primary">
      <span>Notifications</span>
      <span class="spacer"></span>
      <mat-icon (click)="sidenav.close()">close</mat-icon>
    </mat-toolbar>
    <div class="notification-bar">
      <app-notifications></app-notifications>
    </div>
  </mat-sidenav>

  <mat-sidenav-content class="admin-page">
    <mat-toolbar color="primary" class="admin-header">
      <span>Web admin</span>
      <span class="spacer"></span>
      <div class="notification-info-wrapper" (click)="sidenav.toggle()">
        <mat-icon>notifications</mat-icon>
        <span class="notification-count-badge" *ngIf="notificationsLength > 0">{{notificationsLength}}</span>
      </div>
    </mat-toolbar>
    <div class="admin-content">
      <div class="admin-info">
        <app-admin-info></app-admin-info>
      </div>
      <app-admin-team></app-admin-team>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>