.delete-notification{
    font-size: 19px;
    position: absolute;
    right: 0;
    top: 9px;
}

.notification-item.unread{
    background-color: #edf2fa;
}

.notification-list{
    padding-top: 0;
}

.mat-list-item-content{
    padding-right: 30px;
}

:host{
    height: 100%;
    display: block;
}

.scroller-wrapper{
    height: 100%;
    overflow: scroll;
    max-height: 1150px;
}